body {
    background-color: #282c34;
    color: #dcdfe4;
    font-family: cons, monospace;
    min-height: 90vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    align-items: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;
    background-color: #1b1d23;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #61afef; 
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #111;
    }

}

h1 {
    color: #98c379;
    margin-bottom: 0.25em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h3 {
    color: #98c379;
    margin-top: 0.25em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

p {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

a {
    color: #61afef; 
}
